/* 
.about-page{
    background-image: url("https://assets1.ello.co/uploads/asset/attachment/8763976/ello-optimized-48eb0568.gif");
    background-position: center;
    -webkit-filter: blur(8px);
    background-repeat: repeat-x;
    margin-top: 90px;
    padding-top: 550px;
}

.about-container{
    position: absolute;
    top: 200px;
} */