.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: stretch; */
  justify-content: space-between;
  justify-content: space-around;
}
.span-tag{
  color: white;
}

.card {
  /* flex: 1; */
  border-style: solid;
  border-radius: 20px;
  margin-bottom: 25px;
  list-style-type: none;
  width: 400px;
  color: #ff7d97;
  margin-left: 30px;
  background-color: rgb(123, 104, 238);
  box-shadow: 0px 0px 10px #ff7d97, 0px 0px 20px #ff7d97;
}
div span{
    color: white;
}

.card-image {
  border-radius: 20px;
  margin-top: 5px;
  width: 60%;
  height: 10vw;
  border-style: solid;
  border-color: rgb(123, 104, 238);
  box-shadow: 0px 0px 10px #ff7d97, 0px 0px 15px #ff7d97, 0px 0px 20px #ff7d97, 0px 0px 50px #ff7d97;
  overflow: hidden;
  transition: 0.3s linear;
}

.card-name{
    font-weight: bold;
    font-size:x-large;
    text-shadow: white;
}