.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(155, 255, 240, 0.5);
    overflow-y: auto;
}

.popup-inner {
    overflow: auto;
    position: relative;
    padding: 32px;
    background-color: transparent;
    margin-top: 150px;
}

.popup-inner .close-btn {
    margin-top: 20px;
}

.close-btn-pop{
    color: #ff7d97;
    font-weight: bold;
    position: fixed;
    top: 10%;
    right: 150px;
    background: #f2f2f2;
    padding: 12px;
    border-color: #ff7d97;
    border-style: solid;
    border-radius: 6px;
    transition: 0.3s linear;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.place-title-pop{
    color: mediumslateblue;
    background-color: #ff7d97;
    border-style: solid;
    border-color: white;
    padding: 15px;
    border-radius: 10px;
    position: fixed;
    top: 70px;
    left: 30%;
    right: 30%;
}

.popup-list{
    color: mediumslateblue;
    font-weight: bold;
}

.popup-list-container{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
}